<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>bidderController</servlet-name>
        <servlet-class>Controller.bidderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellerController</servlet-name>
        <servlet-class>Controller.sellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>Controller.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemsController</servlet-name>
        <servlet-class>Controller.ItemsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiddingController</servlet-name>
        <servlet-class>Controller.BiddingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controller.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bidderController</servlet-name>
        <url-pattern>/bidderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellerController</servlet-name>
        <url-pattern>/sellerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/MessageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemsController</servlet-name>
        <url-pattern>/ItemsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiddingController</servlet-name>
        <url-pattern>/BiddingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
